<p id="demo"></p>
<script>
	const heros = ['Superman', 'Batman', 'Wonder Woman', 'Nguman'];

	//The delete operator will remove an item from an array
	delete heros[3];

	//destructuring array
	const [x, y] = [1, 2]; 

	const avengers = ['Iron man', 'Captain American', 'Thor', 'Hulk', 'Hawkeye'];
	const lengthOfAvengers = avengers.length;
	const lastElementOfAvengers = avengers[avengers.length-1];

	// To remove the last item from an array, we can use the pop() method:
	avengers.pop();

	//The shift() method works in a similar way to the pop() method, but this
    //removes the frst item in the array:
    avengers.shift();

    //The push() method appends a new value to the end of the array
    avengers.push('Black Panther');

    //The unshift() method is similar to the push() method, but this appends a new
    //item to the beginning of the array:
    avengers.unshift('Iron man');

    //merging array
    const mergingArray = avengers.concat(['Black Widow', 'Vo Viet Nhat Tien']);

    //The join() method can be used to turn the array into a string that comprises all
    //the items in the array, separated by commas:
    const joinMethod = avengers.join();

    //slicing and splicing
    const slicing  = avengers.slice(2, 4);
    const splicing = avengers.splice(3, 1, "Spider man");

    // reverse
    const arrayReverse = avengers.reverse();

    //sort
    const arraySort = avengers.sort();

    // finding if a value in an Array
    const valueNeedFind = avengers.indexOf("Iron man");

	document.getElementById('demo').innerHTML = valueNeedFind;

</script>