<p id="demo"></p>
<script>
	const addition = 5 + 4.3;
	const subtraction = 6 - 11;
	const multiplication = 6 * 7;
	const division = 3/7;
	const exponentiation = 2**3;
	const remainder = 9%2;

	document.getElementById('demo').innerHTML = remainder;
</script>