<p id="demo"></p>
<script>
	let points = 0;
	points = points + 10;
	//use the compound assignment operator
	points += 10;
	points -= 10;
	points *= 10;
	points /= 10;
	points %= 10;

	document.getElementById('demo'). innerHTML = points;
</script>