<p id="demo"></p>
<script>
	const a = 1;
	let b = a; // value of b is 1

	const c = {value:1};
	let d = c;
	d.value = 2;  
	// value c.value is 2
	// because variable c anh d are both referencing the same object

	document.getElementById('demo').innerHTML = c.value;
</script>