<p id="demo"></p>
<script>
	const uninfinity = 1e308; // 1 with 308 zeroes -> uninfinity
	const infinity = 2e308; // too big -> infinity
	infinity = -1e309; // -> infinity
	infinity = 1/0; // -> infinity
	


	document.getElementById('demo').innerHTML = infinity;

</script>