<p id="demo"></p>
<script>
	//const typeofData = (typeof 42);  // return type data of 42
	//const check = Number.isInteger(42); // check number 42 is integer ? 
	//const num = new Number(3); // declare object number

	//const twoDot  = 5..toExponential(); //  use two dots
	//const spaceDot = 5 .toExponential(); 
	//const dot = 5.0.toExponential();
	//const dot1 = (5).toExponential();

	//const number = 5;
	//const dot3 = number.toExponenttenial();

	//The toFixed() method rounds a number to a fxed number of decimal places
	const PI = 3.1415926;
	const round = PI.toFixed(3);  // return type data string rather than number

	//The toPrecision() method rounds a number to a fxed number of signifcant
    //fgures that is once again returned as a string (and often using exponential notation
    const round1 = 123..toPrecision(2);
    const round2 = 2.136.toPrecision(3);

	document.getElementById('demo').innerHTML = round2;

</script>