<p id="demo"></p>
<script>
	//Symbols were introduced as a new primitive value in ES6. They can be used to
    //create unique values, which helps to avoid any naming collisions
	const uniqueID = Symbol('This is a uniqueID');
	let sen = String(uniqueID);

	//It is possible for two variables to point to the same symbol if the for() method is
    //used when the symbol is created:
    const A = Symbol.for('shared symbol');
    const B = Symbol.for('shared symbol');
    
	document.getElementById('demo').innerHTML = sen;
</script>