<p id="demo"></p>
<script>
	// template literals use the backtick character , `, 
	// advantage compare string: use both types of quote mark within the string
	const str = `He said "It's me"`; 
	const str1 = `This is his sentences. ${str}`;

	const age = 20;
	const sen = `I will be ${age + 1} next year`;


	document.getElementById('demo').innerHTML = sen1;
</script>