<p id="demo"></p>
<script>
	const bool = Boolean('hello'); // return true
	const bool1 = Boolean(42); // return true
	const bool2 = Boolean(0); // return false
	document.getElementById('demo').innerHTML = bool1;
</script>