<p id="demo"></p>
<script>
	const numberToString1 = String(3);
	const numberToString2 = 10..toString();
	const numberToString3 = 10 + '';

	const numberToString4 = 28101..toString(36);
	// convert number 10 to string '10'
	document.getElementById('demo').innerHTML = numberToString4;
</script>