<p id="demo"></p>
<script>
	const logicNot = !true; // return false
	const logicAnd = 'shoes' && 18; // return 18
	const logicAnd1 = 'shoes' && 0; // reuturn 0
	const logicOr = 'shoes' || 0; // return shoes
	

	document.getElementById('demo').innerHTML = logicAnd;
</script>