<p id="demo"></p>
<script>
	const parseIntt1 = parseInt('1010', 2); //convert from bianry, back to decimal
	const parseIntt2 = parseInt('2.4', 10);
	const parseFloatt = parseFloat('3.14', 10);
	const address = parseInt('08 Ton Dan', 10);
	document.getElementById('demo').innerHTML = parseIntt2;
</script>