<p id="demo"></p>
<script>
	// if you try to multiply a string and a number together, JS will attempt
	// to coerce the string to number
	const typeCoercion = '2' * 8;
	
	document.getElementById('demo').innerHTML = typeCoercion;
</script>